{% load static %}
<! --DOCTYPE html -->
<html>
    <head>
        <title>
            {% block head_title %}
                MyBlog
            {% endblock head_title %}
        </title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <link rel='stylesheet' href='{% static "css/base.css" %}' />

        <link href="https://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet" type="text/css">

        <style>
            {% block style %}

            {% endblock style %}
        </style>
    </head>

    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0" nonce="HZVYl8Pb"></script>

        {% include "messages_display.html" %}

        {% if request.user.is_authenticated %}
            {% if request.user.first_name %}
                <b><p class="text-right">{{ request.user.get_full_name }}</p></b>
            {% else %}
                <b><p class="text-right">{{ user.username }}</p></b>
            {% endif %}
                <p class="text-right"><a href="{% url 'logout' %}" class="btn btn-success" role="button">Logout</a></p>
        {% endif %}

        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>
