{% extends "base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
    <div class="h-100 row align-items-center">
        <div class="col-sm-12">
            <div class="text-center">
                {% if not request.user.is_authenticated %}
                <b><h3>You need to login in order to continue</h3></b>
                <p><a href='{% provider_login_url "facebook" method="oauth2" %}' class="btn btn-primary" role="button">Facebook Login</a></p>
                <p><a href="{{ obj.get_absolute_url }}admin/" class="btn btn-success" role="button">Admin Login</a></p>
                {% else %}
                    <h1><b><p>You are already authenticated</p></b></h1>

                    <div id="fountainG">
                        <div id="fountainG_1" class="fountainG"></div>
                        <div id="fountainG_2" class="fountainG"></div>
                        <div id="fountainG_3" class="fountainG"></div>
                        <div id="fountainG_4" class="fountainG"></div>
                        <div id="fountainG_5" class="fountainG"></div>
                        <div id="fountainG_6" class="fountainG"></div>
                        <div id="fountainG_7" class="fountainG"></div>
                        <div id="fountainG_8" class="fountainG"></div>
                    </div>

                    <meta http-equiv = "refresh" content = "3; url = {{ request.build_absolute_uri }}posts/" />
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
